.logo-header {
    background-image: url('../img/logo.jpg');
    height: 400px;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    background-position: center center;
}

* {
    box-sizing: border-box;
}

.product-item {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #F5F5F5;
    background: white;
    font-family: "Open Sans";
    transition: .3s ease-in;
}

.product-item:hover {
    border-bottom: 2px solid #fc5a5a;
}

.product-item img {
    display: block;
    width: 100%;
}

.product-list {
    background: #fafafa;
    padding: 15px 0;
}

.product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    margin: 0 0 10px 0;
}

.price {
    font-size: 16px;
    color: #fc5a5a;
    display: block;
    margin-bottom: 12px;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
}

.product-item:hover .button {
    background: #fc5a5a;
}

.product {
    position: relative;
    margin: 0;
    font-size: 1em;
    line-height: 1.4em;
    height: 5.6em;
    overflow: hidden;
}

/* Style the container with a rounded border, grey background and some padding and margin */
.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}

/* Clear floats after containers */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Increase the font-size of a span element */
.container span {
    font-size: 20px;
    margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
    .container {
        text-align: center;
    }

    .container img {
        margin: auto;
        float: none;
        display: block;
    }

    /* Шрифты */
    .section_title {
        font-size: 24px;
        font-weight: 600;
        color: #1b1b1b;
    }

    .section_subtitle {
        font-size: 14px;
        font-weight: 400;
        color: #6c6a74;
        margin-top: 3px;
    }

    .cart_total_title {
        font-size: 14px;
        font-weight: 400;
        color: #1b1b1b;
    }

    .cart_total_value {
        font-size: 14px;
        font-weight: 400;
        color: #1b1b1b;
        float: right;
    }
}

.card-title {
    margin-bottom: -30.25rem;
}